.menu {
    width: 200px;
    height: 100%;
    min-height: 100vh;
    background: rgb(240, 240, 240);
    border-right: 1px solid #563d7c;

    menu {
        margin: 0;
        padding: 20px 0 0;

        a {
            position: relative;
            padding-left: 30px;
            display: block;
            line-height: 50px;
            font-size: 16px;
            color: #563d7c;
            font-weight: bold;
            border-bottom: 1px solid white;
            i{
                position: absolute;
                top: 18px;
                right: 60px;
            }
        }

        :hover,
        .active {
            background: #563d7c;
            color: white;
            font-weight: bold;
        }
    }
}
