<br>
<br>
<h1>欢迎访问 表单页 form --> 双向数据绑定</h1>
<hr>
<section class="form-box">
    <form>
        <h2>用户信息登记</h2>
        <hr>
        <ul>
            <li>
                <span>姓 名：</span>
                <input type="text" name="name" id="user-name" [(ngModel)]="user.name" />
            </li>

            <li>
                <span>性 别：</span>
                <input type="radio" name="sex" value="1" id="Mr" [(ngModel)]="user.sex" /> <label for="Mr">先生</label>
                <input type="radio" name="sex" value="2" id="Ms" [(ngModel)]="user.sex" /> <label for="Ms">女士</label>
                <label><input type="radio" value="0" name="sex" [(ngModel)]="user.sex" /> 保密</label>
            </li>

            <li>
                <span>城 市：</span>
                <select name="city" [(ngModel)]="user.city">
                    <optgroup>
                        <option *ngFor="let item of user.cityList" [value]="item.value">{{item.name}}</option>
                    </optgroup>
                </select>
            </li>

            <li>
                <span>年 龄：</span>
                <input type="range" name="age" [(ngModel)]="user.age" />
                <b [ngStyle]="{'font-size': user.age +'px'}">{{user.age}}</b>
            </li>

            <li>
                <span>生 日：</span>
                <input type="datetime-local" name="datetime" [(ngModel)]="user.datetime" />
            </li>


            <li>
                <span>颜 色：</span>
                <input type="color" name="color" [(ngModel)]="user.color" />
                <b [ngStyle]="{'color': user.color}">{{user.color}}</b>
            </li>

            <li>
                <span>手 机：</span>
                <input type="tel" name="phone" [(ngModel)]="user.phone" />
            </li>

            <li>
                <span>爱 好：</span>

                <!-- <i *ngFor="let item of user.hobby; let key = index;">
                    <input type="checkbox" [name]="'hobby-'+key" [id]="'hobby-'+key" [(ngModel)]="item.checked" />
                    <label [for]="'hobby-'+key">{{item.value}}</label>
                </i> -->

                <label *ngFor="let item of user.hobby; let i = index;">
                    <input type="checkbox" [value]="item.value" [name]="'hobby-'+i" [(ngModel)]="item.checked" />
                    {{item.value}}
                </label>
            </li>
            <li>
                <span>备 注：</span>
                <textarea name="mark" id="" cols="30" rows="5" [(ngModel)]="user.mark"></textarea>
            </li>
        </ul>
        <hr>
        <div class="btn-box">
            <button type="button" (click)="submit()">提 交</button>
            <button type="reset">重 置</button>
        </div>

    </form>
    <div class="data" [ngStyle]="{'color': user.color}">
        <h2>用户初始数据</h2>
        <hr>
        {{user | json}}
        <br>
        <br>
        <h2>用户提交数据</h2>
        <hr>
        {{data | json}}
    </div>
</section>