.home {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0;
    background: url(../../../assets/home/bg1.jpg) no-repeat center center ;
    background-size: cover;
    animation: switch-bg 1s forwards;
    overflow-y: auto;
    .nav-box {
        opacity: 0;
        animation: show-nav 2s .2s cubic-bezier(0.79, -0.54, 0.31, 1.44) forwards;
    }
}

@keyframes switch-bg {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes show-nav {
    0% {
        opacity: 0;
        transform: scale(0);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}
