
<h1>新闻详情：/newsinfo</h1>
<hr>
<section class="news-info">
    <pre>
        <code>
            // 获取router相关参数 

            1、在最顶部引入：import  ActivatedRoute } from "@angular/router";

            2、在构造函数中声明：constructor( public aRouter: ActivatedRoute)   // aRouter名字自定义

            3、此时的this.aRouter对象就有aRouter相关参数了


            // (1)、普通get传参获取 queryParams，在url传过来的参数
            this.aRouter.queryParams.subscribe((par) =>

                // 此时的par就是url传过来的参数 
                <b [innerHTML]="par | json"></b>
            })



            // (2)、动态路由传参获取 params，在url传过来的参数
            this.aRouter.params.subscribe((par) => 
            
                // 此时的par就是url传过来的参数
                <b [innerHTML]="par | json"></b>
            });
        </code>
    </pre>

    <h3>获取到的新闻id是: <b [innerText]="par.nid"></b>，状态id是: <b [innerText]="par.zt || '没传'"></b></h3>
    
</section>
