.home{
    .home-icon{
        display: flex;
        justify-content: space-around;
        li{
            margin-right: 100px;
            line-height: 60px;
            img{
                vertical-align: middle;
            }
            span{
                padding-left: 10px;
            }
        }:last-child{
             margin-right: 0px;
        }
    }
}