<!--The content below is only a placeholder and can be replaced.-->
<app-header></app-header>

<section class="root">

  <!-- 动态加载页面、组件 -->
  <router-outlet></router-outlet>

   <h1>欢迎访问 主app.component.html页</h1>
  <hr>
  <section class="app">
    <h1>Welcome to Angualr v8.2.2 {{ title }} + TypeScript v3.5.3 !</h1>

    <img width="300" alt="Angular Logo"
      src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">

    <h2>Here are some links to help you start: 【这里有一些链接可以帮助您开始】 </h2>

    <ul class="list">
      <li>
        <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes 【英雄之旅】</a></h2>
      </li>
      <li>
        <h2><a target="_blank" rel="noopener" href="https://angular.io/cli">CLI Documentation 【CLI文档】</a></h2>
      </li>
      <li>
        <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog 【Angular博客】</a></h2>
      </li>
    </ul>
  </section>

  <app-home></app-home>

  <app-news></app-news>

  <app-form></app-form>

  <app-search></app-search>

  <app-to-do-list></app-to-do-list>

  <app-dom></app-dom>

  <app-tong-xun #tongXun (mupiao)="parentFn2($event)" [text]="text" [pi]="PI" [obj]="json" [fn]="parentFn" [app]="this">
    <!-- [text]="text" 注：传递数据(变量 或 方法 甚至 整个实例this 这个this就是当前这个父组件)时[]中的属性名可自定义，后面的就是ts中的变量 ，注：向子组件传方法时后面不能加()-->
  </app-tong-xun>

  <div class="btn-box">

    <h3>{{childData | json}}</h3>

    <button (click)="runChildFn()">调用子组件的方法 并 向子组件方法传递参数</button>

    <button (click)="getChildObj()">获取子组件的整个实例对象</button>

  </div>

  <app-life-cycle></app-life-cycle>

  <app-rxjs></app-rxjs>

  <app-data-interaction></app-data-interaction>


</section>

<app-footer></app-footer>