<section class="news">
    <nav>
        <a [routerLink]="[ '/news/newssearch' ]">新闻搜索</a>
        <a [routerLink]="[ '/news/newslist' ]">新闻列表</a>
        <a [routerLink]="[ '/news/newsinfo' ]">新闻详情</a>
    </nav>

    <button class="mdui-btn mdui-ripple mdui-ripple-black mdui-color-yellow">black</button>
    <button class="mdui-btn mdui-ripple mdui-ripple-white mdui-color-blue">white</button>
    <button class="mdui-btn mdui-ripple mdui-ripple-red">red</button>
    <button class="mdui-btn mdui-ripple mdui-ripple-blue">blue</button>

    <router-outlet></router-outlet>


</section>