.news {
    padding: 30px;
    nav {
        overflow: initial!important;
        a {
            display: inline-block;
            margin: 20px;
            color: blue !important;
            font-size: 18px;
        }
    }
}
