<section class="view-child">
    <pre>
        <code>
            1、父获子：#id @ViewChild('id', static: false}) id:any;

            2、子获父：[attr]="attr" @input() attr: any;
        </code>
    </pre>
    <h2>1、父组件向子组件传值（就是在子组件中获取 或 调用父组件的数据、方法、实例）</h2>
    <br>
    <h3>{{text}}，{{pi}}, {{obj | json}}</h3>
    <br>
    <h3>{{examples | json}}</h3>

    <button (click)="runParentFn()">调用父组件的方法 并 向父组件方法传递参数</button>

    <button (click)="getParentObj()">获取父组件的整个实例对象</button>

    <br>
    <br>
    <h2>1.2、子组件通过@Output 和 EventEmitter 装饰器来触发 事件驱动 父组件的方法 <h4 style="font-size: 16px; color: red;">(不推荐用，还是用上面1那种好点)
        </h4>
    </h2>
    <pre class='hljs'>
        <code>
        // 1、在子组件中引入 Output 和 EventEmitter ;
        import  Component, OnInit, Input, Output, EventEmitter } from '@angular/core';
        
        // 2、在子组件中实例化 EventEmitter
        @Output() public varName = new EventEmitter(); //声明EventEmitter实例，注：varName是自定义的

        // 3、在子组件中通过 EventEmitter 对象的 varName 实例广播数据
        this.varName.smit('子组件中的数据')

        // 4、在父组件中接收子组子事件
        &lt;app-xxx (varName)="父组件的方法($event)"> &lt;/app-xxx>
        </code>
    </pre>

    <button (click)="setParentFn()">通过@Output给父组件广播数据</button>

    <br>
    <h2>2、子组件向父组件传值（就是在父组件中获取 或 调用子组件的数据、方法、实例）</h2>
    <br>
</section>