<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>$cacheFactory 缓存 (内置对象)</title>
		<link rel="stylesheet" type="text/css" href="css/amazeui.min.css"/>
		<style type="text/css">
			h1{text-align: center;}
			pre{ font-size: 18px;}
			.am-container{ max-width: 1200px;}
			textarea{ width: 600px; height: 300px;}
		</style>
	</head>
	<body ng-app="APP">
		<h1>$cacheFactory 缓存 (内置对象)</h1><hr />
		<pre>
		一个缓存就是一个组件，它可以透明地储存数据，以便以后可以更快地服务于请求。多次重复地获取资源可能会导致数据重复，消耗时间。
		因此缓存适用于变化性不大的一些数据，缓存能够服务的请求越多，整体系统性能就能提升越多。
		
		$cacheFactory与缓存对象:
		
			$cacheFactory是一个为Angular服务生产缓存对象的服务。要创建一个缓存对象，可以使用$cacheFactory通过一个ID和capacity。
		其中，ID是一个缓存对象的名称，capacity则是描述缓存键值对的最大数量。
			举个生动的例子，$cacheFactory就是包租婆，她有一栋楼，里面有大大小小的房子可以出租，只要你给够钱，包租婆就会把房子租给你(获得缓存对象)，
		这个房子包括了它的房号(ID)和房间的大小(capacity-容量)。
		
		cacheFactory缓存对象拥有以下几种方法:

	　　	1. myCache.info() 返回缓存对象的ID，尺寸和选项
	　　	2. myCache.put() 新值键值对并放入缓存对象中 myCache.put("name", "Ben") 
	　　	3. myCache.get() 返回对应的缓存值，若没有找到则返回undefined myCache.get("name") 
	　　	4. myCache.remove() 把键值对从对应缓存对象中移除 myCache.remove("name") 
	　　	5. myCache.remvoeAll() 清空该缓存对象
		</pre>
		
		<article class="am-container" ng-controller="test">	
			<div class="am-g">
				<div class="am-u-md-12">
					<div class="am-input-group am-input-group-primary">
					  	<span class="am-input-group-label"><i class="am-icon-user am-icon-fw"></i></span>
					  	<input type="text" class="am-form-field" placeholder="请输入要缓存的内容" ng-model="inputText">
						<span class="am-input-group-btn">
					       	<button type="button" class="am-btn am-btn-primary" ng-click="InsertCH()"><i class="am-icon-cog"></i> 设置缓存</button>
							<button type="button" class="am-btn am-btn-secondary" ng-click="SelectCH()"><i class="am-icon-cloud-download"></i> 查看缓存</button>
							<button type="button" class="am-btn am-btn-success" ng-click="DeleteCH()"><i class="am-icon-trash"></i> 删除缓存</button>
							<button type="button" class="am-btn am-btn-warning" ng-click="RemoveCH()"><i class="am-icon-refresh am-icon-spin"></i> 删除所有</button>
							<button type="button" class="am-btn am-btn-danger" ng-click="FormatCH()"><i class="am-icon-cogs"></i> 毁灭缓存</button>
					   </span>   
					</div>	
				</div>
			</div>
			<br /><br />
			<div class="am-g">
				<div class="am-u-md-12">
					<textarea>{{showcache}}</textarea>
				</div>
			</div>
			<br /><br /><br /><br /><br /><br />
			
		</article>
	</body>
	<script src="js/jquery-2.2.0.js" type="text/javascript" charset="utf-8"></script>
	<script src="http://apps.bdimg.com/libs/angular.js/1.4.6/angular.min.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript">
		var APP = angular.module('APP',[])
			//以对象的形来写，也可以在下边直接注入$cacheFactory
			APP.service('cache' , function($cacheFactory){
				return $cacheFactory('text')
			});
			
			APP.controller('test',function($scope , cache) //$cacheFactory
			{

				
				$scope.InsertCH = function()
				{
					if(!$scope.inputText)
					{
						alert("请输入缓存内容！");
						return false;
					}
					else
					{
						cache.put('SaveTxt' , $scope.inputText); //将input框中的内容保存在SaveTxt中;
						alert("缓存设置成功！");
					}
				}
				
				$scope.SelectCH = function()
				{
					if(!cache.get('SaveTxt'))
					{
						alert("对不起：当前没有缓存内容！");
						return false;
					}
					else
					{
						$scope.showcache = cache.get('SaveTxt'); //把存储的内容取出来;
					}
				}
				
				$scope.DeleteCH = function()
				{
					cache.remove('SaveTxt'); //删除指定的缓存;
					$scope.showcache = cache.get('SaveTxt'); //读取一下还有没有
				}
				
				$scope.RemoveCH = function()
				{
					cache.removeAll(); //清除所有缓存;
					$scope.showcache = cache.get('SaveTxt'); //读取一下还有没有
				}
				
				$scope.FormatCH = function()
				{
					cache.destroy(); //毁灭所有缓存;
					$scope.showcache = cache.get('SaveTxt'); //读取一下还有没有
				}
			});

	</script>
</html>
