<h1>Angular 中使用 Rxjs 异步数据获取</h1>
<hr>
<section class="rxjs">
    <pre>
        <h4 style="font-size: 16px; color: red;"> 常用工具函数：map()、filter、throttleTime()等</h4>

        什么是RxJS？
        
            RxJS是ReactiveX编程理念的JavaScript版本。ReactiveX来自微软，它是一种针对异步数据流的编程。

            简单来说，它将一切数据，包括HTTP请求，DOM事件或者普通数据等包装成流的形式，然后用强大丰富的操作符对流进行处理，

            使你能以同步编程的方式处理异步数据，并组合不同的操作符来轻松优雅的实现你所需要的功能。

            ReactiveX由微软于2012年开源，目前各语言库由ReactiveX组织维护。

            RxJS在GitHub上已有8782个star，目前最新版本为5.5.2，并持续开发维护中，其中官方测试用例共计2699个。
    </pre>

    <h3>Rxjs 可以多次执行、返回（这是Promise做不到的）</h3>

    <time>{{timestamp | date: 'yyyy-mm-dd hh: mm: ss'}}</time>

    <button id="button">Rxjs 延迟执行，点击我以后，要每隔5秒后点击我才执行</button>

</section>