.news{
    h3{
        margin-top: 50px;
        line-height: 50px;
        color: red;
    }
    p{
        margin: 10px;
        line-height: 30px;
    }
    .blue{
        font-size: 24px;
        color: white;
        background: blue;
    }
    code{
        padding: 10px;
        border-radius: 5px;
        background: #333;
        color: white;
    }
    time{ 
        color: blue;
    }
    button, input{
        margin: 10px 20px;
        padding: 10px 20px;
        font-size: 16px;
    }
}