.about-page {
    min-height: 100vh;
    background: linear-gradient(115deg, rgba(86, 216, 228, 1) 5%, rgba(159, 1, 234, 1) 95%);
    display: flex;
    justify-content: center;
    align-items: center;
    .article {
        padding: 100px;
        font-size: 18px;
        line-height: 50px;
        color: white;
        opacity: 0;
        a {
            color: white;
        }
    }

    h1.ml8 {
        position: relative;
        font-weight: 900;
        font-size: 4em;
        color: #fff;
        width: 3em;
        height: 3em;
    }

    .ml8 .letters-container {
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        top: 0;
        bottom: 0;
        height: 1em;
    }

    .ml8 .letters {
        position: relative;
        z-index: 2;
        display: inline-block;
        line-height: 0.7em;
        right: -0.6em;
        top: -0.2em;
        font-size: 0.7em;
    }

    .ml8 .bang {
        font-size: 1.2em;
        top: auto;
        right: -0.4em;
    }

    .ml8 .circle {
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        top: 0;
        bottom: 0;
    }

    .ml8 .circle-white {
        width: 3em;
        height: 3em;
        border: 2px dashed white;
        border-radius: 2em;
    }

    .ml8 .circle-dark {
        width: 2.5em;
        height: 2.5em;
        background-color: rgba(86, 216, 228, 0.5);
        border-radius: 3em;
        border: 1px dashed white;
        z-index: 1;
    }

    .ml8 .circle-dark-dashed {
        border-radius: 2.4em;
        background-color: transparent;
        border: 2px dashed rgba(159, 1, 234, 1);
        width: 2.8em;
        height: 2.8em;
    }
}
