<section class="about-page">

  <!-- <button class="ui mini positive button">最 小</button>
  <button class="ui tiny positive button">微 小</button>
  <button class="ui small positive button">很 小</button>
  <button class="ui medium positive button">中 等</button>
  <button class="ui positive button">正 常</button>
  <button class="ui large positive button">稍 大</button>
  <button class="ui big positive button">很 大</button>
  <button class="ui huge positive button">巨 大</button>
  <button class="ui massive positive button">最 大</button>

  <div class="ui labeled button" tabindex="0">
    <div class="ui red button">
      <i class="heart icon"></i> 喜欢
    </div>
    <a class="ui basic red left pointing label">
      1,048
    </a>
  </div>
  <div class="ui labeled button" tabindex="0">
    <div class="ui basic blue button">
      <i class="fork icon"></i> 讨厌
    </div>
    <a class="ui basic left pointing blue label">
      1,048
    </a>
  </div> --> 

  <h1 class="ml8">
    <span class="letters-container">
      <span class="letters letters-left">Hello</span>
      <span class="letters bang">!</span>
    </span>
    <span class="circle circle-white"></span>
    <span class="circle circle-dark"></span>
    <span class="circle circle-container"><span class="circle circle-dark-dashed"></span></span>
  </h1> 
  
  <article class="article">
    <h1>沐枫</h1>
    <p>Web前端开发，偶尔写写后端，喜欢折腾新技术！</p> 
    <p>认真，专注，全力以赴，绝不找借口，努力创造属于自已的一片天地！</p>
    <p><a href="mailto:muguilin@foxmail.com" data-pjax-state="external">muguilin@foxmail.com</a></p>
  </article>

</section>