.aside{
    position: absolute;
    top: 0;
    right: 0;
    width: 200px;
    height: 100vh;
    background: rgba(37, 171, 88, 0.8);
    border: 1px solid #00ff61;
    transform: translateX(100%);
    transition: all .5s cubic-bezier(.79,-0.54,.31,1.44);
    display: flex;
    justify-content: center;
    align-items: flex-end;
    button{
        margin-bottom: 60px;
        padding: 8px 16px;
        font-size: 18px;
        color: #ff00e8;
    }
}
