.nav-page{
    nav{
        ul{
            li{
                display: inline-block;
                margin: 20px;
                a{
                    font-size: 16px;
                }
            }
        }
    }
}