<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>WECHAT_EMPTY_TITLE</title>
    <meta name="viewport"
        content="width=device-width,initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="full-screen" content="true">
    <meta name="screen-orientation" content="portrait">
    <meta name="x5-fullscreen" content="true">
    <meta name="360-fullscreen" content="true">
    <style>
        html,
        body {
            -ms-touch-action: none;
            background: #92c3ec;
            padding: 0;
            border: 0;
            margin: 0;
            height: 100%;
        }
    </style>
    <style id="__WXWORK_INNER_SCROLLBAR_CSS">
        ::-webkit-scrollbar {
            width: 12px !important;
            height: 12px !important;
        }

        ::-webkit-scrollbar-track:vertical {}

        ::-webkit-scrollbar-thumb:vertical {
            background-color: rgba(136, 141, 152, 0.5) !important;
            border-radius: 10px !important;
            background-clip: content-box !important;
            border: 2px solid transparent !important;
        }

        ::-webkit-scrollbar-track:horizontal {}

        ::-webkit-scrollbar-thumb:horizontal {
            background-color: rgba(136, 141, 152, 0.5) !important;
            border-radius: 10px !important;
            background-clip: content-box !important;
            border: 2px solid transparent !important;
        }

        ::-webkit-resizer {
            display: none !important;
        }
    </style>
</head>

<body>
    <script src="https://hm.baidu.com/hm.js?d35941d96908da147b93f99b690d1a8f"></script>
    <script src="http://static.jiyou-tech.com/js/wx-share/jquery-3.0.0.min.js"></script>
    <script src="http://res.wx.qq.com/open/js/jweixin-1.4.0.js"></script>
    <script src="http://static.jiyou-tech.com/2019/js/wxShare.js"></script>
    <script type="text/javascript">
        wx.ready(function () {
            wx.showMenuItems({
                menuList: ["menuItem:share:timeline", "menuItem:share:appMessage", "menuItem:favorite", "menuItem:share:qq",
                    "menuItem:share:weiboApp", "menuItem:share:QZone"]
            });
            if (isWeiXin()) {
                wx_share('消消乐挑战赛冲榜赢大奖', "挑战NOVAS软蛋白消消乐,赢爱奇艺免费会员", '消消乐挑战赛冲榜赢大奖', "");
            }
        });
    </script>
    <script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?d35941d96908da147b93f99b690d1a8f";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
    <div style="margin: auto; width: 100%; height: 100%; overflow: hidden; position: absolute;" class="egret-player"
        data-entry-class="Main" data-orientation="auto" data-scale-mode="showAll" data-frame-rate="30"
        data-content-width="750" data-content-height="1334" data-show-paint-rect="false" data-multi-fingered="2"
        data-show-fps="false" data-show-log="false"
        data-show-fps-style="x:0,y:0,size:12,textColor:0xffffff,bgAlpha:0.9">
        <canvas width="1235" height="1334"
            style="cursor: inherit; position: absolute; top: 0px; bottom: 0px; left: 0px; right: 0px; transform-origin: 0% 0% 0px; transform: matrix(0.51498, 0, 0, 0.514993, 0, 0);"></canvas>
        <div id="StageDelegateDiv"
            style="position: absolute; left: 0px; top: 0px; border: none; padding: 0px; transform: matrix(0.51498, 0, 0, 0.514993, 0, 0); transform-origin: 0% 0% 0px;">
            <div
                style="position: absolute; left: 0px; top: -100px; border: none; padding: 0px; width: 0px; height: 0px; transform-origin: 0% 0% 0px;">
                <textarea id="egretTextarea" tabindex="-1"
                    style="resize: none; width: 1px; height: 12px; position: absolute; left: 0px; top: 0px; border: none; padding: 0px; outline: thin; background: none; overflow: hidden; word-break: break-all; opacity: 0;"></textarea><input
                    id="egretInput" type="text" tabindex="-1"
                    style="width: 1px; height: 12px; position: absolute; left: 0px; top: 0px; border: none; padding: 0px; outline: thin; background: none; overflow: hidden; word-break: break-all; opacity: 0;">
            </div>
        </div>
    </div>
    <audio id="music1" loop="">
        <source src="http://static.jiyou-tech.com/534/resource/assets/sound/bg.mp3" type="audio/mpeg"></audio>
    <audio id="dakailihe">
        <source src="http://static.jiyou-tech.com/534/resource/assets/sound/dakailihe.mp3" type="audio/mpeg"></audio>
    <audio id="gameopen">
        <source src="http://static.jiyou-tech.com/534/resource/assets/sound/gameopen.mp3" type="audio/mpeg"></audio>
    <audio id="choujianganniu">
        <source src="http://static.jiyou-tech.com/534/resource/assets/sound/choujianganniu.mp3" type="audio/mpeg">
    </audio>
    <audio id="choujiang">
        <source src="http://static.jiyou-tech.com/534/resource/assets/sound/choujiang.mp3" type="audio/mpeg"></audio>

    <script>
        var _sd1 = 200;
        var _sd2 = 500;
        var isok = true;
        function fetfenxiang(yxy) {
            if (isok) {
                console.log(yxy)
                wx_share('我在消消乐获得' + yxy + '名!', "挑战NOVAS软蛋白消消乐,赢爱奇艺免费会员", '我在消消乐获得' + yxy + '名!', "");
            }
        }
        function outFocus() {
            setTimeout(function () { window.scrollTo(0, 0); }, 50)
        }
        var music1 = document.getElementById("music1");
        music1.loop = true;
        var _audioArrar = ["dakailihe", "gameopen", "choujianganniu", "choujiang"];
        document.addEventListener("DOMContentLoaded", function () {
            document.addEventListener("WeixinJSBridgeReady", function () {
                music1.play();
                for (var i = 0; i < _audioArrar.length; i++) {
                    new audioPlay2(_audioArrar[i]);
                }
            }, false);
        });
        var musicstart = true;
        function audioPaly() {
            musicstart = true;
            easy.GlobalSetting.VOLUME_OPEN = true;
            music1.muted = false;
            music1.volume = 1;
            music1.play();
        }
        function audioPause() {
            musicstart = false;
            easy.GlobalSetting.VOLUME_OPEN = false;
            music1.muted = true;
            music1.volume = 0;
            music1.pause();
        }
        function audioPlay2(audioid) {
            var audio = document.getElementById(audioid);
            audio.muted = true;
            audio.volume = 0;
            audio.play();
            audio.addEventListener("playing", pause1);
        }
        function pause1(e) {
            e.currentTarget.pause();
            e.currentTarget.removeEventListener("playing", pause1);
        }
        function audioPlay3(audioid) {
            var audio = document.getElementById(audioid);
            audio.muted = false;
            audio.volume = 1;
            audio.currentTime = 0;
            audio.play();
        }


        var loadScript = function (list, callback) {
            var loaded = 0;
            var loadNext = function () {
                loadSingleScript(list[loaded], function () {
                    loaded++;
                    if (loaded >= list.length) {
                        callback();
                    }
                    else {
                        loadNext();
                    }
                })
            };
            loadNext();
        };

        var loadSingleScript = function (src, callback) {
            var s = document.createElement('script');
            s.async = false;
            s.src = src;
            s.addEventListener('load', function () {
                s.parentNode.removeChild(s);
                s.removeEventListener('load', arguments.callee, false);
                callback();
            }, false);
            document.body.appendChild(s);
        };

        var xhr = new XMLHttpRequest();
        xhr.open('GET', './manifest.json?v=' + Math.random(), true);
        xhr.addEventListener("load", function () {
            var manifest = JSON.parse(xhr.response);
            var list = manifest.initial.concat(manifest.game);
            loadScript(list, function () {
                /**
                 * {
                 * "renderMode":, //Engine rendering mode, "canvas" or "webgl"
                 * "audioType": 0 //Use the audio type, 0: default, 2: web audio, 3: audio
                 * "antialias": //Whether the anti-aliasing is enabled in WebGL mode, true: on, false: off, defaults to false
                 * "calculateCanvasScaleFactor": //a function return canvas scale factor
                 * }
                 **/
                novas.GameData.openid = "";
                egret.sys.screenAdapter = new easy.EasyGameFullScreen();
                easy.GlobalSetting.CDN_RES = "http://static.jiyou-tech.com/534/resource/";
                egret.runEgret({
                    renderMode: "webgl", audioType: 0, calculateCanvasScaleFactor: function (context) {
                        var backingStore = context.backingStorePixelRatio ||
                            context.webkitBackingStorePixelRatio ||
                            context.mozBackingStorePixelRatio ||
                            context.msBackingStorePixelRatio ||
                            context.oBackingStorePixelRatio ||
                            context.backingStorePixelRatio || 1;
                        return (window.devicePixelRatio || 1) / backingStore;
                    }
                });
            });
        });
        xhr.send(null);
    </script>


</body>

</html>