<h1>产品页：/goods</h1>
<hr>
<section class="goods">
    <h3>路由与子路由(嵌套路由)，在app-routing.module.ts文件中配置</h3>
    <pre>
        <code>

            // 1、选引入组件 或 页面 
            import {{ FormComponent } from './components/form/form.component';
            import { HomeComponent } from './views/home/home.component';


            // 2、在路由表中配置路由
            const routes: Routes = [
                {
                    path: 'home', component: HomeComponent,

                    // 路由嵌套(父子路由)
                    children: [
                        { path: 'form', component: FormComponent },
                        { path: 'todolist', component: ToDoListComponent },
                        { path: 'search', component: SearchComponent },
                        { path: 'rxjs', component: RxjsComponent },
                        {
                            path: '**',
                            redirectTo: 'datadinding'    
                        }
                    ]
                },
                {
                    path: 'news', component: NewsComponent
                },
                {
                    path: 'newsinfo', component: NewsInfoComponent
                },
                {
                    path: 'newsinfo/:id', component: NewsInfoComponent //设置动态路由传参的参数名
                },
                {
                    path: 'goods', component: GoodsComponent
                },
                
                // 默认路由： 当匹配不到路由时，加载对应的(如404)组件 或 跳转到某个路由
                {
                    path: '**',
                    redirectTo: '/'           // 跳转路由
                 // component: HomeComponent, // 加载组件
                }
            ];
        </code>
    </pre>

    <h3>1、标签get传参路由跳转：</h3>

    <pre>
        <code>
            &lt;a [routerLink]="[ '/goodsinfo', '666' ]">标签跳转路由 到 goodsinfo产品详情页&lt;/a>
        </code>
    </pre>
    <a [routerLink]="[ '/goodsinfo', '666' ]">标签跳转路由 到 goodsinfo产品详情页</a>


    <br><br>
    <h3>2、js 普通路由、动态路由跳转：</h3>
    <pre>
        <code>
            // 1、引入Router模块
            import  Router } from "@angular/router"

            // 2、声明Router对象
            constructor(private router: Router)

            // 3.1、js普通路由跳转
            this.router.navigate(['/goodsinfo']);
            
            // 3.2、js动态 传参 路由跳转
            this.router.navigate(['/goodsinfo', '123']);
        </code>
    </pre>

    <button (click)="jsOpenHome()">js普通路由跳转 到 home首页</button>

    <button (click)="jsOpenRouter()">js动态路由 并传参 跳转 到 goodsinfo产品详情页</button>



    <br><br>
    <h3>js get跳转路由跳转路由：</h3>
    <pre>
        <code>
            // 1、引入Router模块
            import  Router, NavigationExtras } from "@angular/router"

            // 2、声明Router对象
            constructor(private router: Router)

            // 3、js get 传参 路由跳转
            let parObj: NavigationExtras = 
                queryParams:  gid: 456, rmb: '￥998.00', num: 999 }
            }
            this.router.navigate(['/goodsinfo'], parObj);    // this.router.navigate(['/goodsinfo'], NavigationExtras);

        </code>
    </pre>

    <button (click)="jsGetOpen()">js get跳转路由跳转路由 到 goodsinfo产品详情页</button>

</section>